# 1. numpy

In [1]:
# 如果你的電腦還沒安裝numpy，請先透過python pip管理套件安裝
!pip3 install numpy

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (1.18.1)
WARNING: You are using pip version 21.1.2; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [2]:
import numpy as np
print(np.__version__)

1.18.1

### np.array()

numpy基礎資料結構的方法，用以儲存一維至多維陣列(ndarray)

In [14]:
a = np.array(1)
print(a)

1
<class 'numpy.ndarray'>

In [12]:
b = np.array([1,2,3])
print(b)

[1 2 3]

In [13]:
c = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(c)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [15]:
print(type(c))

<class 'numpy.ndarray'>

透過ndarray進行矩陣運算

In [ ]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [44]:
a * b

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [30]:
a.dot(b)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

# 2. pandas

In [46]:
# 如果你的電腦還沒安裝pandas，請先透過python pip管理套件安裝
!pip3 install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)
WARNING: You are using pip version 21.1.2; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [47]:
import pandas as pd
print(pd.__version__)

1.1.5

### 透過pandas讀入csv或excel檔案

In [55]:
df = pd.read_csv('example.csv')
# df = pd.read_excel('example.xlsx')
df

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content
0,1451580710262_PTT02R,bbs,Ptt,Stock,10.0,2016/1/1 0:48,[新聞] 第三方支付 台灣普及關鍵年,Bokolo,1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/...
1,1451580711002_PTT02R,bbs,Ptt,Stock,28.0,2016/1/1 0:50,[新聞] 曾銘宗：電子支付拼5年倍增,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
2,1451580711248_PTT02R,bbs,Ptt,Stock,44.0,2016/1/1 0:51,[請益] 交割帳戶什麼時候會扣款??,Lawleit,寡人在手機上2014年12月30日買了生平第一支股票\n\n訊息顯示成交了 成交總金額約3萬...
3,1451581329544_PTT02R,bbs,Ptt,Stock,17.0,2016/1/1 0:56,[新聞] 睽違8年 大宇資重返2016台北電玩展,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
4,1451583749064_PTT02R,bbs,Ptt,Stock,33.0,2016/1/1 1:42,[新聞] 人工撮合將成歷史！ 那斯達克啟用區塊鍊,DarkerDuck,1.原文連結(必須檢附)：\nhttp://news.ltn.com.tw/news/bus...

### 選取特定欄位

In [51]:
# 方法一
df[['title', 'content']]

                      title                                            content
0        [新聞] 第三方支付 台灣普及關鍵年  1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/...
1        [新聞] 曾銘宗：電子支付拼5年倍增  1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
2        [請益] 交割帳戶什麼時候會扣款??  寡人在手機上2014年12月30日買了生平第一支股票\n\n訊息顯示成交了 成交總金額約3萬...
3  [新聞] 睽違8年　大宇資重返2016台北電玩展  1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
4  [新聞] 人工撮合將成歷史！ 那斯達克啟用區塊鍊  1.原文連結(必須檢附)：\nhttp://news.ltn.com.tw/news/bus...

In [52]:
# 方法二
df.iloc[:, [6,8]]

                      title                                            content
0        [新聞] 第三方支付 台灣普及關鍵年  1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/...
1        [新聞] 曾銘宗：電子支付拼5年倍增  1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
2        [請益] 交割帳戶什麼時候會扣款??  寡人在手機上2014年12月30日買了生平第一支股票\n\n訊息顯示成交了 成交總金額約3萬...
3  [新聞] 睽違8年　大宇資重返2016台北電玩展  1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
4  [新聞] 人工撮合將成歷史！ 那斯達克啟用區塊鍊  1.原文連結(必須檢附)：\nhttp://news.ltn.com.tw/news/bus...

### 選取特定行

In [53]:
df.iloc[[1,3], :]

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content
1,1451580711002_PTT02R,bbs,Ptt,Stock,28.0,2016/1/1 0:50,[新聞] 曾銘宗：電子支付拼5年倍增,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
3,1451581329544_PTT02R,bbs,Ptt,Stock,17.0,2016/1/1 0:56,[新聞] 睽違8年 大宇資重返2016台北電玩展,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...

### 依照欄位條件篩選特定行

In [54]:
df[df['comment_count'] >= 30]

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content
2,1451580711248_PTT02R,bbs,Ptt,Stock,44.0,2016/1/1 0:51,[請益] 交割帳戶什麼時候會扣款??,Lawleit,寡人在手機上2014年12月30日買了生平第一支股票\n\n訊息顯示成交了 成交總金額約3萬...
4,1451583749064_PTT02R,bbs,Ptt,Stock,33.0,2016/1/1 1:42,[新聞] 人工撮合將成歷史！ 那斯達克啟用區塊鍊,DarkerDuck,1.原文連結(必須檢附)：\nhttp://news.ltn.com.tw/news/bus...

### 檢查與處理空值

In [57]:
df.isnull().any()

id               False
p_type           False
s_name           False
s_area_name      False
comment_count    False
post_time        False
title            False
author           False
content          False
dtype: bool

In [71]:
# 若有空值存在，最簡單的方法就是直接刪除該筆資料
df = df.dropna()
df = df.reset_index(drop = True)

### 表格合併

In [62]:
class1 = pd.DataFrame([['John', 20, 174, 63], 
                  ['Amy', 21, 162, 48],
                 ['May', 20, 170, 52],
                 ['Alan', 19, 192, 101]], columns = ['Name', 'Age', 'Height', 'Weight'])
class2 = pd.DataFrame([['Tim', 20, 179, 65], 
                  ['Howard', 19, 186, 88],
                 ['Austin', 24, 174, 69],
                 ['Laura', 24, 160, 50]], columns = ['Name', 'Age', 'Height', 'Weight'])
class1_info = pd.DataFrame([['John', 'M'], 
                  ['Amy', 'F'],
                 ['May', 'F'],], columns = ['Name', 'Gender'])
class1_updated = pd.DataFrame([['John', 21, 174, 67], 
                  ['Amy', 22, 162, 47],
                 ['May', 21, 170, 54],
                 ['Alan', 20, 192, 98]], columns = ['Name', 'Age', 'Height', 'Weight'])

In [63]:
class1

   Name  Age  Height  Weight
0  John   20     174      63
1   Amy   21     162      48
2   May   20     170      52
3  Alan   19     192     101

In [65]:
class2

     Name  Age  Height  Weight
0     Tim   20     179      65
1  Howard   19     186      88
2  Austin   24     174      69
3   Laura   24     160      50

In [81]:
class1_info

   Name Gender
0  John      M
1   Amy      F
2   May      F

In [82]:
class1_updated

   Name  Age  Height  Weight
0  John   21     174      67
1   Amy   22     162      47
2   May   21     170      54
3  Alan   20     192      98

1. 將兩張表直接相接合併（concat)

In [70]:
school = pd.concat([class1, class2])
school = school.reset_index(drop = True)
school

     Name  Age  Height  Weight
0    John   20     174      63
1     Amy   21     162      48
2     May   20     170      52
3    Alan   19     192     101
4     Tim   20     179      65
5  Howard   19     186      88
6  Austin   24     174      69
7   Laura   24     160      50

2. 將兩張表依相關欄位合併(merge)

In [73]:
pd.merge(class1, class1_info, on = 'Name', how = 'left')

   Name  Age  Height  Weight Gender
0  John   20     174      63      M
1   Amy   21     162      48      F
2   May   20     170      52      F
3  Alan   19     192     101    NaN

In [78]:
pd.merge(class1, class1_info, on = 'Name', how = 'inner')

   Name  Age  Height  Weight Gender
0  John   20     174      63      M
1   Amy   21     162      48      F
2   May   20     170      52      F

3. 將兩張表依索引index合併(merge)

In [80]:
class1.join(class1_updated, lsuffix='_before', rsuffix = '_after')

,Name_before,Age_before,Height_before,Weight_before,Name_after,Age_after,Height_after,Weight_after
0,John,20,174,63,John,21,174,67
1,Amy,21,162,48,Amy,22,162,47
2,May,20,170,52,May,21,170,54
3,Alan,19,192,101,Alan,20,192,98

### 寫出檔案

In [ ]:
school.to_csv('school.csv', index = False)

# 3. monpa

In [83]:
# 如果你的電腦還沒安裝monpa，可以透過python pip管理套件安裝
!pip3 install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.15.4 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)
WARNING: You are using pip version 21.1.2; however, version 22.0.4 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [84]:
import monpa

+---------------------------------------------------------------------+
  Welcome to MONPA: Multi-Objective NER POS Annotator for Chinese
+---------------------------------------------------------------------+
已找到 model檔。Found model file.

In [86]:
df = pd.read_csv('example.csv')
df

,id,p_type,s_name,s_area_name,comment_count,post_time,title,author,content
0,1451580710262_PTT02R,bbs,Ptt,Stock,10.0,2016/1/1 0:48,[新聞] 第三方支付 台灣普及關鍵年,Bokolo,1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/...
1,1451580711002_PTT02R,bbs,Ptt,Stock,28.0,2016/1/1 0:50,[新聞] 曾銘宗：電子支付拼5年倍增,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
2,1451580711248_PTT02R,bbs,Ptt,Stock,44.0,2016/1/1 0:51,[請益] 交割帳戶什麼時候會扣款??,Lawleit,寡人在手機上2014年12月30日買了生平第一支股票\n\n訊息顯示成交了 成交總金額約3萬...
3,1451581329544_PTT02R,bbs,Ptt,Stock,17.0,2016/1/1 0:56,[新聞] 睽違8年 大宇資重返2016台北電玩展,Bokolo,1.原文連結(必須檢附)：\nhttp://www.appledaily.com.tw/re...
4,1451583749064_PTT02R,bbs,Ptt,Stock,33.0,2016/1/1 1:42,[新聞] 人工撮合將成歷史！ 那斯達克啟用區塊鍊,DarkerDuck,1.原文連結(必須檢附)：\nhttp://news.ltn.com.tw/news/bus...

In [89]:
df['content'][2]

'寡人在手機上2014年12月30日買了生平第一支股票\n\n訊息顯示成交了 成交總金額約3萬5千\n\n收盤後查戶頭錢沒手\n\n後來收信說會在隔天10點前扣款\n\n下面還附註扣不到款會有刑責  要我把戶頭錢準備好\n\n但是到現在我戶頭錢還是沒少\n\n究竟什麼時候會扣款呢??\n\n--\n'

In [90]:
tokens = monpa.cut(df['content'][2])
tokens

['寡人',
 '在',
 '手機',
 '上',
 '2014年',
 '12月',
 '30日',
 '買',
 '了',
 '生平',
 '第一',
 '支',
 '股票',
 ' ',
 ' ',
 '訊息',
 '顯示',
 '成交',
 '了',
 ' ',
 '成交總',
 '金額',
 '約',
 '3萬5千',
 ' ',
 ' ',
 '收盤',
 '後',
 '查',
 '戶頭錢',
 '沒',
 '手',
 ' ',
 ' ',
 '後來',
 '收信',
 '說',
 '會',
 '在',
 '隔天',
 '10',
 '點',
 '前',
 '扣款',
 ' ',
 ' ',
 '下面',
 '還',
 '附',
 '註扣',
 '不',
 '到',
 '款',
 '會',
 '有',
 '刑責',
 ' ',
 ' ',
 '要',
 '我',
 '把',
 '戶頭錢',
 '準備',
 '好',
 ' ',
 ' ',
 '但是',
 '到',
 '現在',
 '我',
 '戶頭錢',
 '還是',
 '沒',
 '少',
 ' ',
 ' ',
 '究',
 '竟',
 '什麼',
 '時候',
 '會',
 '扣款',
 '呢',
 '?',
 '?',
 ' ',
 ' ',
 '-',
 '-']

In [93]:
df['content'][0]

'1.原文連結(必須檢附)：\nhttp://magazine.chinatimes.com/moneyweekly/20151231003706-300201\n\n2.原文內容：\n第三方支付專法上路，看好市場龐大商機，遊戲廠商、銀行業者紛紛搶進，如針對陸客推\n出「手機掃碼支付」，以及讓消費者能在線上藉由銀行帳戶即完成電子商務支付。\n\n網路興起之後，電商蓬勃發展，其中第三方支付也隨之興起，去(2015)年台灣通過第三方\n支付專法，下半年多數廠商紛紛取得執照，今年可望付諸應用，因此外界預估，2016將會\n是第三方支付在台灣普及的關鍵一年。\n\n遊戲廠商近幾個月以來積極搶進第三方支付市場，對營收挹注明顯，橘子(6180)成為大贏\n家，橘子十一月營收表現出色，智冠(5478)、歐買尬(3687)等第三方支付相關廠商十一月\n業績則大多持穩。\n\n橘子十一月財報顯示，其營收8.93億元，月增12.7％、年增5.9％，為去年單月營收次高\n、歷年同期新高；前十一月合併營收88.48億元，年增7.2％，預估今年營收可望突破百億\n元大關。\n\n智冠十一月營收12.11億元，月減1.8％、年增4.9％。十二月取得第三方支付執照，旗下\n支付子公司智付寶也已開始運作，同樣將在今年首季提供相關服務。\n\n歐買尬十一月營收六九七三萬元，月增5.3％、年增102.5％，旗下支付子公司歐付寶已取\n得第三方支付執照，日前支付App也搶先上線。\n\n遊戲商銀行爭奪第三方支付市場\n\n除了遊戲廠商，銀行也搶進第三方支付市場。玉山銀行與螞蟻金服集團旗下支付寶合作，\n針對來台旅遊陸客推出「手機掃碼支付」跨境Ｏ２Ｏ創新金融服務，陸客只要透過支付寶\n錢包，就可以在台灣各大百貨、連鎖超商、夜市、商圈等進行消費，預計將有超過五千家\n商店加入手機掃碼支付行列，為全台提供最多商戶使用的銀行。\n\n玉山銀行指出，為推廣更多陸客來台使用，日前搭配雙十二話題，支付寶推出雙十二活動\n，包含百貨、超商、名特產店等，使用支付寶付款可獲得八折以上的優惠，夜市商圈更有\n一元享美食活動，每位支付寶用戶皆可以一元人民幣兌換一百元新台幣以下的夜市美食，\n雙十二當天更祭出合作商家最低五折的優惠，全額由支付寶贊助，行銷台灣的美食與商圈\n。\n\n玉山銀行聚焦金融創新，提供最好的數位金融服務，與支付寶合作，提供陸客最熟悉的支\n付服務。陸客來台消費只要出示支付寶手機條碼，過刷商店的收銀機或行動裝置App，即\n可立即付款。小攤商則可直接掃描商家QRcode，輸入新台幣金額，就能完成結帳程序，商\n家也可同時收到付款通知，目前包含屈臣氏等美妝店以及寧夏夜市等著名商圈，皆已開始\n有陸客使用支付寶交易，對國內消費市場與產業發展都將是一大利器。\n\n電商龍頭商店街市集(4965)旗下子公司PChomePay支付連，與台灣票據交換所、上海商銀\n共同宣布推出首創全台電子商務網路支付，以eACH平台進行銀行帳戶線上扣款服務。\n\n電子支付終極 綁定銀行帳戶\n\nPChomePay支付連自推出線上立即開通信用卡刷卡服務後，讓台灣的微型商家和個人賣家\n能夠接受信用卡付款，為加速完成電子商務交易的速度，即日起再推出「PChomePay支付\n連銀行支付」服務，讓網購交易更快速、便利。\n\n透過「PChomePay支付連銀行支付」服務，露天拍賣買家即可線上立即申請台灣票據交換\n所的電子化授權交易(eDDA)，完成線上認證、設定帳戶後，可享有銀行帳戶立即扣款\n(eACH)的服務，讓買家可透過PChomePay支付連的銀行支付服務，於線上就能快速藉由銀\n行帳戶以完成電子商務的支付，體驗快捷、安心、便利的網路交易經驗。\n\nPChomePay支付連董事長詹宏志表示，「綁定銀行帳戶已是全世界電子支付的終極型態，\n也是電子支付發展的最後型態，對支付連來說也是最重要的一步；金錢的移動從過去的個\n人支票，演化到金融卡，現在則是透過銀行帳戶綁定，將電子支付完成緊密的串接。因為\n透過這個服務，錢的移動是以最無障礙、最自然的方式在移轉，讓使用者不需要每次都輸\n入帳號，也不用留下帳戶資料給成千上萬的賣家，是最便利且安全的支付方式，也讓台灣\n電子支付真正做到無縫接軌。」\n\n3.心得/評論(必需填寫)：\n嘿~~~沒人來PO小弟就來亂啦~~~~~~~~~~好新聞難找，就繼續找跟第三方支付有關der\n\n哈哈，各位股神新年快樂呀~~~~~!\n\n話說第三方支付的新聞又開始有一些些惹，等會再PO第二篇~~~\n有的朋友很看好PCHOME，不知道未來拿到執照後上路會怎樣~~~101這次煙火真漂亮\n\n--\n'

In [95]:
from monpa import utils

In [96]:
sentence_list = utils.short_sentence(df['content'][0])

tokens = []
for sentence in sentence_list:
    tokens.extend(monpa.cut(sentence))
tokens

['1',
 '.',
 '原文',
 '連結',
 '(',
 '必須',
 '檢附',
 ')',
 '：',
 ' ',
 'http://magazine.chinatimes.com/moneyweekly/20151231003706',
 '-',
 '300201',
 ' ',
 ' ',
 '2',
 '.',
 '原文',
 '內容',
 '：',
 ' ',
 '第三',
 '方',
 '支付',
 '專法',
 '上路',
 '，',
 '看好',
 '市場',
 '龐大',
 '商機',
 '，',
 '遊戲',
 '廠商',
 '、',
 '銀行',
 '業者',
 '紛紛',
 '搶進',
 '，',
 '如',
 '針對',
 '陸客',
 '推',
 ' 出',
 '「',
 '手機',
 '掃碼',
 '支付',
 '」',
 '，',
 '以及',
 '讓',
 '消費者',
 '能',
 '在',
 '線',
 '上',
 '藉由',
 '銀行',
 '帳戶',
 '即',
 '完成',
 '電子',
 '商務',
 '支付',
 '。',
 '網路',
 '興起',
 '之後',
 '，',
 '電商',
 '蓬勃',
 '發展',
 '，',
 '其中',
 '第三',
 '方',
 '支付',
 '也',
 '隨之',
 '興起',
 '，',
 '去',
 '(',
 '2015',
 ')',
 '年',
 '台灣',
 '通過',
 '第三',
 '方',
 ' ',
 '支付',
 '專法',
 '，',
 '下',
 '半',
 '年',
 '多數',
 '廠商',
 '紛紛',
 '取得',
 '執照',
 '，',
 '今年',
 '可望',
 '付',
 '諸',
 '應用',
 '，',
 '因此',
 '外界',
 '預估',
 '，',
 '2016',
 '將',
 '會',
 ' ',
 '是',
 '第三',
 '方',
 '支付',
 '在',
 '台灣',
 '普及',
 '的',
 '關鍵',
 '一',
 '年',
 '。',
 '遊戲',
 '廠商',
 '近',
 '幾',
 '個',
 '月',
 '以來',
 '積極',
 '搶進',
 '第三',
 '方',
 '支付',
 '市場',
 '，',
 '對',
 '營收',
 '挹注',
 '明顯',
 '，',
 '橘子',
 '(',
 '6180',
 ')',
 '成為',
 '大',
 '贏',
 ' ',
 '家',
 '，',
 '橘子',
 '十一月',
 '營收',
 '表現',
 '出色',
 '，',
 '智冠',
 '(',
 '5478',
 ')',
 '、',
 '歐買尬',
 '(',
 '3687',
 ')',
 '等',
 '第三',
 '方',
 '支付',
 '相關',
 '廠商',
 '十一月',
 ' ',
 '業績',
 '則',
 '大多',
 '持穩',
 '。',
 '  ',
 '橘子',
 '十一月',
 '財報',
 '顯示',
 '，',
 '其',
 '營收',
 '8.93',
 '億',
 '元',
 '，',
 '月增',
 '12.7',
 '％',
 '、',
 '年增',
 '5.9',
 '％',
 '，',
 '為',
 '去年',
 '單月',
 '營收',
 '次',
 '高',
 ' ',
 '、',
 '歷年',
 '同期',
 '新高',
 '；',
 '前',
 '十一月',
 '合併',
 '營收',
 '88.48',
 '億',
 '元',
 '，',
 '年增',
 '7.2',
 '％',
 '，',
 '預估',
 '今年',
 '營收',
 '可望',
 '突破',
 '百億',
 ' ',
 '元',
 '大關',
 '。',
 '智冠',
 '十一月',
 '營收',
 '12.11',
 '億',
 '元',
 '，',
 '月',
 '減',
 '1.8',
 '％',
 '、',
 '年增',
 '4.9',
 '％',
 '。',
 '十二月',
 '取得',
 '第',
 '三',
 '方',
 '支付',
 '執照',
 '，',
 '旗下',
 ' ',
 '支付',
 '子公司',
 '智付寶',
 '也',
 '已',
 '開始',
 '運作',
 '，',
 '同樣',
 '將',
 '在',
 '今年',
 '首季',
 '提供',
 '相關',
 '服務',
 '。',
 '  歐',
 '買尬',
 '十一月',
 '營收',
 '六九七三萬',
 '元',
 '，',
 '月增',
 '5.3',
 '％',
 '、',
 '年增',
 '102.5',
 '％',
 '，',
 '旗下',
 '支付',
 '子公司',
 '歐付寶',
 '已',
 '取 ',
 '得',
 '第',
 '三',
 '方',
 '支付',
 '執照',
 '，',
 '日前',
 '支付',
 'App',
 '也',
 '搶先',
 '上線',
 '。',
 ' ',
 ' ',
 '遊戲商',
 '銀行',
 '爭奪',
 '第',
 '三',
 '方',
 '支付',
 '市場',
 ' ',
 ' ',
 '除',
 '了',
 '遊戲',
 '廠商',
 '，',
 '銀行',
 '也',
 '搶進',
 '第三',
 '方',
 '支付',
 '市場',
 '。',
 '玉山銀行',
 '與',
 '螞蟻',
 '金服',
 '集團',
 '旗下',
 '支付',
 '寶',
 '合作',
 '，',
 ' ',
 '針對',
 '來',
 '台',
 '旅遊',
 '陸客',
 '推出',
 '「',
 '手機',
 '掃碼',
 '支付',
 '」',
 '跨境',
 'Ｏ',
 '２',
 'Ｏ',
 '創新',
 '金融',
 '服務',
 '，',
 '陸客',
 '只要',
 '透過',
 '支付',
 '寶',
 ' ',
 '錢',
 '包',
 '，',
 '就',
 '可以',
 '在',
 '台灣',
 '各',
 '大',
 '百貨',
 '、',
 '連鎖',
 '超商',
 '、',
 '夜市',
 '、',
 '商圈',
 '等',
 '進行',
 '消費',
 '，',
 '預計',
 '將',
 '有',
 '超過',
 '五千',
 '家',
 ' ',
 '商店',
 '加入',
 '手機',
 '掃碼',
 '支付',
 '行列',
 '，',
 '為',
 '全',
 '台',
 '提供',
 '最多',
 '商戶',
 '使用',
 '的',
 '銀行',
 '。',
 '玉山銀行',
 '指出',
 '，',
 '為',
 '推廣',
 '更多',
 '陸客',
 '來',
 '台',
 '使用',
 '，',
 '日前',
 '搭配',
 '雙',
 '十二',
 '話題',
 '，',
 '支付寶',
 '推出',
 '雙',
 '十二',
 '活動',
 ' ',
 '，',
 '包含',
 '百貨',
 '、',
 '超商',
 '、',
 '名',
 '特產店',
 '等',
 '，',
 '使用',
 '支付',
 '寶',
 '付款',
 '可',
 '獲得',
 '八',
 '折',
 '以上',
 '的',
 '優惠',
 '，',
 '夜市',
 '商圈',
 '更',
 '有',
 ' ',
 '一',
 '元',
 '享',
 '美食',
 '活動',
 '，',
 '每',
 '位',
 '支付寶',
 '用戶',
 '皆',
 '可以',
 '一',
 '元',
 '人民幣',
 '兌換',
 '一百',
 '元',
 '新台幣',
 '以下',
 '的',
 '夜市',
 '美食',
 '，',
 ' ',
 '雙',
 '十',
 '二',
 '當天',
 '更',
 '祭出',
 '合作',
 '商家',
 '最',
 '低',
 '五',
 '折',
 '的',
 '優惠',
 '，',
 '全',
 '額',
 '由',
 '支付寶',
 '贊助',
 '，',
 '行銷',
 '台灣',
 '的',
 '美食',
 '與',
 '商圈',
 ' ',
 '。',
 '玉山銀行',
 '聚焦',
 '金融',
 '創新',
 '，',
 '提供',
 '最好',
 '的',
 '數位',
 '金融',
 '服務',
 '，',
 '與',
 '支付寶',
 '合作',
 '，',
 '提供',
 '陸客',
 '最',
 '熟悉',
 '的',
 '支',
 ' 付',
 '服務',
 '。',
 '陸客',
 '來',
 '台',
 '消費',
 '只要',
 '出示',
 '支付',
 '寶',
 '手機',
 '條碼',
 '，',
 '過',
 '刷',
 '商店',
 '的',
 '收銀機',
 '或',
 '行動',
 '裝置',
 'App',
 '，',
 '即',
 ' ',
 '可',
 '立即',
 '付款',
 '。',
 '小',
 '攤商',
 '則',
 '可',
 '直接',
 '掃描',
 '商家',
 'QRcode',
 '，',
 '輸入',
 '新台幣',
 '金額',
 '，',
 '就',
 '能',
 '完成',
 '結帳',
 '程序',
 '，',
 '商',
 ' 家',
 '也',
 '可',
 '同時',
 '收到',
 '付款',
 '通知',
 '，',
 '目前',
 '包含',
 '屈臣氏',
 '等',
 '美妝店',
 '以及',
 '寧夏',
 '夜市',
 '等',
 '著名',
 '商圈',
 '，',
 '皆',
 '已',
 '開始',
 ' ',
 '有',
 '陸客',
 '使用',
 '支付',
 '寶',
 '交易',
 '，',
 '對',
 '國內',
 '消費',
 '市場',
 '與',
 '產業',
 '發展',
 '都',
 '將',
 '是',
 '一',
 '大',
 '利器',
 '。',
 '電商',
 '龍頭',
 '商店',
 '街市集',
 '(',
 '4965',
 ')',
 '旗下子公司',
 'PChomePay',
 '支付',
 '連',
 '，',
 '與',
 '台灣',
 '票據',
 '交換所',
 '、',
 '上海商銀',
 ' ',
 '共同',
 '宣布',
 '推出',
 '首創',
 '全',
 '台',
 '電子',
 '商務',
 '網路',
 '支付',
 '，',
 '以',
 'eACH',
 '平台',
 '進行',
 '銀行',
 '帳戶線',
 '上',
 '扣款',
 '服務',
 '。',
 '電子',
 '支付',
 '終極',
 ' ',
 '綁定',
 '銀行',
 '帳戶',
 ' ',
 ' ',
 'PChomePay',
 '支付',
 '連自',
 '推出',
 '線',
 '上',
 '立即',
 '開通',
 '信用卡',
 '刷卡',
 '服務',
 '後',
 '，',
 '讓',
 '台灣',
 '的',
 '微型',
 '商家',
 '和',
 '個人',
 '賣家',
 ' ',
 '能夠',
 '接受',
 '信用卡',
 '付款',
 '，',
 '為',
 '加速',
 '完成',
 '電子',
 '商務',
 '交易',
 '的',
 '速度',
 '，',
 '即日',
 '起',
 '再',
 '推出',
 '「',
 'PChomePay',
 '支付',
 ' ',
 '連',
 '銀行',
 '支付',
 '」',
 '服務',
 '，',
 '讓',
 '網購',
 '交易',
 '更',
 '快速',
 '、',
 '便利',
 '。',
 '透過',
 '「',
 'PChomePay',
 '支付',
 '連',
 '銀行',
 '支付',
 '」',
 '服務',
 '，',
 '露天',
 '拍賣',
 '買家',
 '即可',
 '線',
 '上',
 '立即',
 '申請',
 '台灣',
 '票據',
 '交換',
 ' ',
 '所',
 '的',
 '電子',
 '化',
 '授權',
 '交易',
 '(',
 'eDDA',
 ')',
 '，',
 '完成',
 '線',
 '上',
 '認證',
 '、',
 '設定',
 '帳戶',
 '後',
 '，',
 '可',
 '享有',
 '銀行',
 '帳戶',
 '立即',
 '扣款',
 ' ',
 '(',
 'eACH',
 ')',
 '的',
 '服務',
 '，',
 '讓',
 '買家',
 '可',
 '透過',
 'PChomePay',
 '支付',
 '連',
 '的',
 '銀行',
 '支付',
 '服務',
 '，',
 '於',
 '線',
 '上',
 '就',
 '能',
 '快速',
 '藉由',
 '銀',
 ' 行',
 '帳戶',
 '以',
 '完成',
 '電子',
 '商務',
 '的',
 '支付',
 '，',
 '體驗',
 '快捷',
 '、',
 '安心',
 '、',
 '便利',
 '的',
 '網路',
 '交易',
 '經驗',
 '。',
 'PChomePay',
 '支付',
 '連',
 '董事長',
 '詹宏志',
 '表示',
 '，',
 '「',
 '綁定',
 '銀行',
 '帳戶',
 '已',
 '是',
 '全',
 '世界',
 '電子',
 '支付',
 '的',
 '終極',
 '型態',
 '，',
 ' ',
 '也',
 '是',
 '電子',
 '支付',
 '發展',
 '的',
 '最後',
 '型態',
 '，',
 '對',
 '支付',
 '連來',
 '說',
 '也',
 '是',
 '最',
 '重要',
 '的',
 '一',
 '步',
 '；',
 '金錢',
 '的',
 '移動',
 '從',
 '過去',
 '的',
 '個',
 ' 人',
 '支票',
 '，',
 '演化',
 '到',
 '金融卡',
 '，',
 '現在',
 '則',
 '是',
 '透過',
 '銀行',
 '帳戶',
 '綁定',
 '，',
 '將',
 '電子',
 '支付',
 '完成',
 '緊密',
 '的',
 '串接',
 '。',
 '因為',
 ' ',
 '透過',
 '這',
 '個',
 '服務',
 '，',
 '錢',
 '的',
 '移動',
 '是',
 '以',
 '最',
 '無',
 '障礙',
 '、',
 '最',
 '自然',
 '的',
 '方式',
 '在',
 '移轉',
 '，',
 '讓',
 '使用者',
 '不',
 '需要',
 '每',
 '次',
 '都',
 '輸',
 ' ',
 '入',
 '帳號',
 '，',
 '也',
 '不用',
 '留下',
 '帳戶',
 '資料',
 '給',
 '成千上萬',
 '的',
 '賣家',
 '，',
 '是',
 '最',
 '便利',
 '且',
 '安全',
 '的',
 '支付',
 '方式',
 '，',
 '也',
 '讓',
 '台灣',
 ' ',
 '電子',
 '支付',
 '真正',
 '做到',
 '無縫',
 '接軌',
 '。',
 '」',
 ' ',
 ' ',
 '3',
 '.',
 '心得',
 '/',
 '評論',
 '(',
 '必需',
 '填寫',
 ')',
 '：',
 ' ',
 ...]

# 4. sklearn

### (1). linear regression

In [98]:
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [99]:
df = datasets.fetch_california_housing()

In [100]:
X_train, X_test, y_train, y_test = train_test_split(df['data'], df['target'], test_size = .2)

In [105]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [107]:
mean_squared_error(y_test, y_pred)

0.5193479601463054

### (2). logistic regression

In [127]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [109]:
df = datasets.load_iris()

In [112]:
X_train, X_test, y_train, y_test = train_test_split(df['data'], df['target'], test_size = .2)

In [117]:
clf = LogisticRegression(max_iter = 2000)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [118]:
accuracy_score(y_test, y_pred)

0.9666666666666667

In [129]:
confusion_matrix(y_test, y_pred)

array([[ 8,  0,  0],
       [ 0, 14,  1],
       [ 0,  0,  7]])

### (3). clustering

In [ ]:
from sklearn import datasets
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [107]:
df = datasets.load_iris()

In [108]:
X_train, X_test, y_train, y_test = train_test_split(df['data'], df['target'], test_size = .2)

In [112]:
kmeans = KMeans(n_clusters = 3)
kmeans.fit(X_train)
y_pred = kmeans.predict(X_test)

In [113]:
y_pred

array([1, 0, 0, 1, 2, 1, 1, 0, 1, 2, 1, 0, 0, 1, 2, 0, 0, 1, 1, 1, 2, 1,
       2, 1, 0, 0, 0, 2, 0, 2], dtype=int32)